
#navigation {
  //background-color: #666666;
  position: absolute;
  width: 100%;

  .navbar {
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: #FFFFFF;

    a {
      color: #FFFFFF;
    }

    a:hover,
    .active a {
      background: none;
      color: #42B4FF;
    }

    a:focus {
      outline: 1px dotted #FFFFFF;
      background: none;
    }
  }

  .navbar-brand {
    padding: 5px 0;
  }
}

#home {
  background: url('../assets/housewindow.jpg') no-repeat center top;
  background-size: cover;
  color: #FFFFFF;
  min-height: 80vh;
  // margin-top: -50px;
  padding-top: 100px;

  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 3.8em;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
}
