doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Window Rescue | Window maintenance specialist Wellington
    meta(name='description', content='Affordable and friendly window maintenance specialist with over 15 years experience servicing Wellington and the greater area.')
    meta(name='keywords', content='window rescue, window, maintenance, door, repair, replace, glass, fix, wellington, nz, new zealand, double glazing, window seal, restrictor stay, joinery, aluminium, glazier')
    meta(name='rating', content='General')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:900,700,400,200', rel='stylesheet', type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='css/main.css', rel='stylesheet', type='text/css')
    script(src='//localhost:35729/livereload.js?snipver=1')
    
  body(data-spy='scroll', data-target='.navbar')
    section#navigation
      nav.navbar.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', title='Toggle navigation', data-toggle='collapse', data-target='.navbar-collapse', aria-expanded='false')
              i.fa.fa-bars
            a.navbar-brand(href='')
              img(src='assets/logo-long.png', alt='Window Rescue')
          .collapse.navbar-collapse.navbar-right
            ul.nav.navbar-nav
              li.active
                a(href='#home') Home
              li
                a(href='#services') Services
              li
                a(href='#about') About
              li
                a(href='#tips') Tips
              li
                a(href='#contact') Contact
    
    
    
    section#home.parallax
      .container
        .row
          .col-xs-12
            h1 
              | Affordable and friendly 
              em window maintenance specialist 
              | with over 15 years experience servicing 
              em Wellington 
              | and the greater area.
            p 
              a.btn.btn-primary.btn-lg(href='#contact') Get in touch for a free quote
            
            
            
    section#services
      .container
        .row
          .col-xs-12
            h2 Services
            hr
        .row
          .service.col-xs-12.col-sm-4
            .icon
              img.img-responsive.svg(src='assets/aid-kit.svg', alt='')
            h3 Repair Damaged and Replace Worn Parts
            p Hard ware, for example window catches, door hinges, and window stays or hinges have a limited life unless maintained. Door handles for sliding doors and hinged doors wear overtime and need servicing or replacing.
            
          .service.col-xs-12.col-sm-4
            .icon
              img.img-responsive.svg(src='assets/droplet.svg', alt='')
            h3 Track and Repair Leaking Windows and Doors
            p Sometimes water can get in, this can be due to a number of causes, for example incorrect installation, shrinking rubber seals, inadequate flashing above and around windows. In most cases these can be located and repaired.
            
          .service.col-xs-12.col-sm-4
            .icon
              img.img-responsive.svg(src='assets/search.svg', alt='')
            h3 Identify Installation Issues
            p Some installation issues can cause opening doors and windows sashes closing incorrectly causing draughts. There is often a solution to reduce draughts however in some cases doors and windows may need reinstalling.
        
        .row
          .service.col-xs-12.col-sm-4
            .icon
              img.img-responsive.svg(src='assets/bubble.svg', alt='')
            h3 Recommend Window Solutions
            p Provide practical advice on the type of windows and doors to suit different house designs.
            
          .service.col-xs-12.col-sm-4
            .icon
              img.img-responsive.svg(src='assets/stack.svg', alt='')
            h3 Retro Fit Double Glazing
            p In most instances single glazed aluminium windows can be retrofitted with double glazing.
        
          .service.col-xs-12.col-sm-4
            .icon
              img.img-responsive.svg(src='assets/hammer.svg', alt='')
            h3 Install Seal Replacements
            p Window seals shrink and leave gaps for air to get through causing draughts. Regular maintenance identifies this issue and seals can be replaced.
        
        .row
          .service.col-xs-12.col-sm-4
          .service.col-xs-12.col-sm-4
            .icon
              img.img-responsive.svg(src='assets/wrench.svg', alt='')
            h3 Install Restrictor Stays
            p Restrictor stays provide security and prevent small children falling out of windows. Council regulations require restrictor stays to be installed on all windows below 760mm from the floor or in the bathroom windows above baths or toilets. Windows in these situations are only to open 100mm.
            
            
            
    section#about
      .container
        .row
          .col-xs-12
            h2 About
            hr
          .col-xs-12.col-sm-3
            img.img-responsive.img-circle(src='assets/profile-2.jpg', alt='')
          .col-xs-12.col-sm-3
            img.img-responsive.svg(src='assets/window-association.svg', alt='')
          .col-xs-12.col-sm-6
            p I have had 28 years working in the window industry and I am an experienced aluminium joiner. I have worked in all areas including managing the factory, installing windows and doors onsite and managing the maintenance service for several window franchises.
            p I am member of the Windows Association and I enjoy working in the industry. I am friendly, approachable, and reliable and I get on well with clients, suppliers and tradesmen.
        //- .row
        //-   .quote.col-xs-12.col-sm-6
        //-     i.fa.fa-quote-left
        //-     blockquote This is a blockquote section
        //-     span - Joe Bloggs, Johnsonville
        //-   .quote.col-xs-12.col-sm-6
        //-     i.fa.fa-quote-left
        //-     blockquote This is another blockquote section
        //-     span - Joe Bloggs, Johnsonville
            
            
            
    section#tips
      .container
        .row
          .col-xs-12
            h2 Tips
            hr
        .row
          .tip.col-xs-12.col-sm-4
            h3 My Sliding Door Is Really Hard To Close
            p This is often due to wheels seizing through lack of maintenance. A useful solution is to purchase a penetrating oil and water-displacing spray from a local hardware store. Spray around the wheels, this should allow the wheels to roll more freely. This product is also useful in the maintenance of door hinges, preventing rust and reducing squeaks.
            
          .tip.col-xs-12.col-sm-4
            h3 Discolouring And Fading Powder Coated Windows
            p To prevent this happening the outside of windows and doors should be cleaned with a soft cloth and mild liquid detergent in warm water and then rinsed with cold clean water on a regular basis. We suggest this is done at least 6 monthly and more often if you live closer to the sea.
          
          .tip.col-xs-12.col-sm-4
            h3 Removing Sunbaked Stickers On Glass
            p Use an orange based cleaner available from your local hardware store to remove sun baked stickers off windows and doors.
        
    section#img-break.parallax
        
    section#contact
      .container
        .row
          .col-xs-12
            h2 Contact
            hr
          //- .col-xs-12
          //-   p Get in touch for an obligation free quote.
          .contact-method.col-xs-12.col-sm-4
            a(href='tel:021440930')
              p
                i.fa.fa-phone
              p 021 440 930
          .contact-method.col-xs-12.col-sm-4
            a(href='mailto:ross@windowrescue.co.nz')
              p
                i.fa.fa-envelope
              p ross@windowrescue.co.nz
          .contact-method.col-xs-12.col-sm-4
            a(href='https://goo.gl/maps/JyeaW4uZusq', target='_blank')
              p 
                i.fa.fa-map-marker
              p Wellington, New Zealand
            
            
            
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='js/main.js')
    //google analytics tracking
    script(src='http://www.google-analytics.com/analytics.js')
    script
      | ga('create', 'UA-73118456-1', 'auto');
      | ga('send', 'pageview');
